.booking-form {
    width: 400px;
    max-height: 600px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;
}

.booking-form form>ul {
    font-size: 15px;
    color: red;
    font-weight: 400;
}

.booking-form-top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.booking-form-top-info div {
    display: flex;
    flex-direction: row;
}

.booking-form-top-info div h3 {
    font-size: 20px;
    font-weight: 500;
}

.booking-form-top-info div .fa-star {
    font-size: 10px;
}

.booking-form-top-info div .avg-rating {
    font-size: 14px;
    font-weight: bold;
}

.booking-form-top-info div .booking-review-count {
    font-size: 14px;
    color: rgb(131, 131, 131);
}

.booking-form-top-info div p {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.reserve-date-input {
    margin: 15px 0px;
}


.reserve-date-input label {
    font-size: 14px;
    color: #222;
    margin: 5px 0px 0px 5px;
}

.reserve-date-input input[type="date"] {
    margin: 5px 0px 5px 0px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div .form-element button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    background: linear-gradient(to left, rgb(215, 10, 101), rgb(254, 56, 56), rgb(215, 10, 101));
    color: white;
    border-radius: 10px;
    background-size: 200%;
    transition: 1s;
    cursor: pointer;
}

.form-element button:hover {
    background-position: right;
}

.price-cal>p {
    font-size: 13px;
    color: rgb(113, 113, 113);
    text-align: center;
}

.booking-price,
.cleaning-fee,
.service-fee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px 5px 0px;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 300;
}

.total-price {
    margin: 20px 0px 20px 0px;
    border-top: 1px solid rgb(113, 113, 113);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-price>p {
    margin-top: 20px;
    font-weight: 400;
}
