.spot-detail-wrapper {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.spot-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1536px;
    padding: 10px 5px;
    margin: 10px 5px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 2000px) {
    .spot-detail-page {
        width: 94%;
        left: 3%;
    }
}

.spot-detail-page h2 {
    font-weight: 500;
    margin-bottom: 10px;

}

.sub-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 15px;
}

.star-rating-display {
    display: flex;
    flex-direction: row;
}

.sub-info p {
    margin-left: 5px;
    margin-right: 5px;
}

.sub-info .spot-details-city {
    margin-left: 30px;
}

.image-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    max-height: 60vh;
    width: 100%;
    aspect-ratio: 1/0.50;
    border-radius: 12px;
    overflow: hidden;
}

.image-layout .spot-detail-main-img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    overscroll-behavior: auto;
    white-space: nowrap;
    aspect-ratio: 1/0.47;

}

.image-layout .side-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    padding: 0;
    gap: 8px;
    overflow: auto;
    padding-left: 8px;
}

.image-layout .side-images img {
    display: grid;
    width: calc(50% - 4px);
    height: calc(50% - 4px);
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
}

.spot-infomation {
    margin-top: 30px;
    width: 100%;
    max-width: 1022px;
}

.spot-infomation p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}

.spot-infomation .spot-description {
    border-top: 1px solid rgb(216, 216, 216);
    padding: 30px 10px 30px 0px;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
}

.reviews {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(216, 216, 216);
    padding: 30px 10px 10px 0px;
    font-size: 20px;
    max-width: 100%;
}

.reviews .review-section-top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.reviews .star-rating-display .fa-star {
    font-size: 15px;
    margin: 7px 5px 0 0;
}

.star-rating-display div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reviews p {
    margin: 0 10px 0 5px;
}

.review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.bottom-half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.left-panel {
    width: 67%;
    min-width: 350px;
    padding-right: 5%;
}

.right-panel {
    display: flex;
    width: 30%;
    height: auto;
    padding: 5px;
    margin: 80px 5px 20px 10px
}
