.profile-review-ind {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid rgb(220, 224, 224);
    display: flex;
    flex-direction: row;

}

.profile-review-ind img {
    border-radius: 10px;
    max-height: 75px;
    max-width: 75px;
    padding: 2px;
    margin-right: 20px;
}

.review-content-by-you {
    width: 100%
}

.review-content-by-you h3 {
    color: rgb(72, 72, 72);
    font-size: 16px;
    margin-bottom: 10px;
}

.review-content-by-you .review-images {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    margin: 5px 5px 10px 5px;

}

.review-content-by-you .review-images:hover button {
    visibility: visible;
}

.review-content-by-you .review-images button {
    position: relative;
    top: -4px;
    height: 18px;
    width: 18px;
    background-color: rgb(110, 110, 110);
    border-radius: 50%;
    color: white;
    border: none;
    margin-left: -30px;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    visibility: hidden;
}

.review-content-by-you .review-images button:hover {
    box-shadow: 2px 2px 5px rgb(89, 89, 89);
}

.review-content-by-you p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
    max-width: 90%;
    word-wrap: break-word;
}

.review-content-by-you .review-change {
    display: flex;
    flex-direction: row;
}

.review-change button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(110, 110, 110);
    background: transparent;
    height: 35px;
    width: 150px;
    position: relative;
    left: 40%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.review-change button:hover {
    background-color: rgb(247, 247, 247);
}
