.profile-review-ind {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid rgb(220, 224, 224);
    display: flex;
    flex-direction: row;

}

.profile-review-ind img {
    border-radius: 10px;
    max-height: 75px;
    max-width: 75px;
    padding: 2px;
    margin-right: 20px;
}

.review-content-by-you {
    width: 100%
}

.review-content-by-you h3 {
    color: rgb(72, 72, 72);
    font-size: 16px;
    margin-bottom: 10px;
}

.review-content-by-you .review-images {
    display: flex;
    flex-direction: row;
}

.review-content-by-you p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 15px;
}

.review-content-by-you .review-change {
    display: flex;
    flex-direction: row;
}

.review-change button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(110, 110, 110);
    background: transparent;
    height: 35px;
    width: 150px;
    position: relative;
    left: 40%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.review-change button:hover {
    background-color: rgb(247, 247, 247);
}
