.user-trip-list-wrapper {
    width: 100vw;
    height: auto;
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user-trip-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1536px;
    padding: 10px 20px;
    margin: 20px 20px;
    font-family: 'Poppins', sans-serif;
}

.user-trip-list h1 {
    font-weight: 500;
}

.user-booking-list-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
