.user-booking-ind-container {
    height: 150px;
    width: 45%;
    min-width: 350px;
}

.user-booking-ind-container a {
    text-decoration: none;
    color: black;
}

.user-booking-ind {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.user-booking-ind img.user-booking-list-preImg {
    height: 100%;
    width: 50%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 7px;
    margin: 6px 20px 6px 0px;
}

.user-booking-ind .user-booking-info h4 {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0px 6px 3px;
}

.user-booking-ind .user-booking-info p {
    font-size: 15px;
    color: rgb(89, 89, 89);
}
