.profile-btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(116, 116, 116);
    border-radius: 35%;
    border: 1px solid rgb(227, 227, 227);
    outline: none;
    background-color: white;
    color: rgb(113, 113, 113);
    padding: 5px 5px 5px 10px;
    margin: 5px;
    position: fixed;
    right: 22%;
    top: 1%;
    cursor: pointer;
}

.profile-btn:hover {
    box-shadow: 2px 2px 3px rgb(221, 221, 221);
}

.fa-bars {
    display: flex;
    font-size: 15px;
    margin-right: 13px;
    border: none;
}

.profile-dropdown {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 18%;
    right: 15%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    border-bottom: 0.5px grey solid;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.profile-dropdown li {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.profile-dropdown-logout {
    padding-top: 10px;
    border-top: 1px solid rgb(210, 210, 210);

}

.profile-dropdown li a {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    color: black;
}

.profile-dropdown li>button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 6px;
    width: 100%;
}

.profile-dropdown li>button:hover {
    background-color: rgb(247, 247, 247);
}

.profile-dropdown-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid rgb(210, 210, 210);
}
