.nav-login-btn {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    color: #FF5A5F;
    border-radius: 30%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

.nav-login-btn:hover {
    background-color: rgb(247, 247, 247);
}
